<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand">JWT Auth</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/events" routerLinkActive="active" class="nav-link">Events</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/special" routerLinkActive="active" class="nav-link">Members</a>
                </li>
            </ul>

            <div class="d-flex">
                <ul class="navbar-nav">
                    <li *ngIf="!authSvc.loggedIn()" class="nav-item">
                        <a routerLink="/login" class="nav-link">Login</a>
                    </li>
                    <li *ngIf="authSvc.loggedIn()" class="nav-item">
                        <a (click)="authSvc.logout()" style="cursor: pointer" class="nav-link">Logout</a>
                    </li>
                    <li *ngIf="!authSvc.loggedIn()" class="nav-item">
                        <a routerLink="/register" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>